[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
onedrivesdk = "==1.1.8"
flask = "*"
telethon = {ref = "946f803", git = "git+https://github.com/LonamiWebs/Telethon.git"}
requests = "*"
cryptg = "==0.4.0"
